# Dependencies
node_modules
.pnpm-store/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Storybook
*storybook.log
storybook-static